<%- include("../partials/header.ejs") %>

<h1>BLOG ON BUTTERFLIES</h1>

<div class="container">
<div class="blog-container">
    <div class="blog-post">
        <img src="/images/alfred-schrock-shoE2y51uX0-unsplash.jpg" alt="Butterfly 1" width="300px" height="200px">
        <h2>Blah blah Butterfly</h2>
        <p><strong>POSTED ON NOVEMBER 20, 2024</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula sapien nec erat tincidunt venenatis.</p>
        <button class="button"><a href="/butterfly-1" class="button">Continue Reading →</a></button>
    </div>

    <div class="blog-post">
        <img src="/images/david-clode-Oq9JrJb6K7M-unsplash.jpg" alt="Butterfly 2" width="300px" height="200px">
        <h2>Blah Blah 2 butterfly</h2>
        <p><strong>POSTED ON NOVEMBER 20, 2024</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar felis ac nunc luctus suscipit.</p>
        <button class="button"><a href="/butterfly-2" class="button">Continue Reading →</a></button>
    </div>
</div>

<div class="blog-container">
    <div class="blog-post">
        <img src="/images/gayatri-malhotra-wNypLh377_o-unsplash.jpg" alt="Butterfly 3" width="300px" height="200px">
        <h2>Blah blah 3 Butterfly</h2>
        <p><strong>POSTED ON NOVEMBER 20, 2024</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula sapien nec erat tincidunt venenatis.</p>
        <button class="button"><a href="/butterfly-3" class="button">Continue Reading →</a></button>
    </div>

    <div class="blog-post">
        <img src="/images/vivek-doshi-PNXnfta-6-4-unsplash.jpg" alt="Butterfly 2" width="300px" height="200px">
        <h2>Blah Blah 4 butterfly</h2>
        <p><strong>POSTED ON NOVEMBER 20, 2024</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar felis ac nunc luctus suscipit.</p>
        <button class="button"><a href="/butterfly-4" class="button">Continue Reading →</a></button>
    </div>
</div>
</div>
<%- include("../partials/footer.ejs") %>